@import url(https://fonts.googleapis.com/css?family=Playfair+Display:700italic,400italic);
@import url(https://fonts.googleapis.com/css?family=Lora);
@import url(https://fonts.googleapis.com/css?family=Roboto);

#logo {
  font-family:'Playfair Display',serif;
    color:gold;
    font-size:24px;
    font-weight:700;
    font-style:italic;
    text-align: center;
    /*margin:1.5em;*/
    /*border-right:1px solid gold;
    padding-right:10px;*/
    margin-bottom:.5em;
    padding-left:50px;
    background-color:#191919;
  }
.hero{
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
    url("../images/macau.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  /*background-size: 1000px 500px;*/
 ;
 height:750px;
 margin-bottom:40px;

/*background-size: 1000px 500px ;*/
}
h1 {
 color:white;
 position:absolute;
 top:30%;
 left:75%;
 font-family:'Playfair Display';
 font-size:1.5em;


}
body {
  background-color:#191919;
  color:white;
  font-family: 'Roboto', sans-serif;
}


.nav ul{
  list-style:none;
  
  text-align:center;
  padding:0;
  margin:0;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

 .nav li {
       font-family: 'Lora', serif;
      font-size: 16px;
      line-height: 40px;
      height: 40px;
      border-bottom: 1px solid #888;
      display: inline-block;
      margin-right:10px;
      color: rgb(204,204,204);
      color:black;

    }

   
  /*#contact a{
    padding:10px;
    color:lightblue;
  }*/
a {
  text-decoration: none;
  color:white;

}
h2{
  text-align:center;
}
p {
  margin-bottom:10px;
}